body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
canvas {
  margin: auto;
}

#canvasContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  display: flex;
  margin: 2rem;
}

#note {
  flex: auto;
  text-align: center;
  background-color: rgb(205, 242, 243);

  border: 5px solid rgb(19, 163, 91);
  margin: auto;
  width: 800px;
}

#freq {
  display: flex;
  flex: auto;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  margin: auto;
  width: 800px;
}

#mycanvas {
  border: 5px solid rgb(19, 163, 91);
}
